{{define "Title"}}禁言{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
  <ul class="breadcrumb">
    <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
    <li class="active">{{.curr_user.Username}}</li>
  </ul>
{{end}}
{{define "Content"}}
  <div class="content">
    <div class="alert alert-danger" role="alert"><strong>{{.curr_user.Username}}</strong>: 你已被禁言! 如有疑问, 请联系管理员: <a
            href="mailto:support@glangtc.com">support@glangtc.com</a>.</div>
  </div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
