{{define "Title"}}修改密码{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">修改密码</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
	  <form action="/change_password" class="form-horizontal" method="post" role="form">
        {{$current_password := .form.Field "current_password"}}
        <div class="form-group{{if $current_password.HasErrors}} has-error{{end}}">
          {{$current_password.RenderLabel `class="col-md-2 control-label"`}}
          <div class="col-lg-6">
            {{$current_password.RenderInput `class="form-control"`}}
            {{$current_password.RenderErrors}}
          </div>
        </div>
        {{$new_password := .form.Field "new_password"}}
        <div class="form-group">
          {{$new_password.RenderLabel `class="col-md-2 control-label"`}}
          <div class="col-lg-6">
            {{$new_password.RenderInput `class="form-control"`}}
          </div>
        </div>
        {{$confirm_password := .form.Field "confirm_password"}}
        <div class="form-group">
          {{$confirm_password.RenderLabel `class="col-md-2 control-label"`}}
          <div class="col-lg-6">
            {{$confirm_password.RenderInput `class="form-control"`}}
          </div>
        </div>
		<div class="form-group">
		  <div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">修改密码</button>
		  </div>
		</div>
	  </form>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
