{{define "Title"}}修改密码{{end}}
{{define "Content"}}
<ul class="breadcrumb">
	<li><a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span></li>
	<li class="active">修改密码</li>
</ul>
<div class="content">
	<form action="/change_password" class="form-horizontal" method="post">
		{{.form.Render "current_password"}}
		{{.form.Render "new_password"}}
		{{.form.Render "confirm_password"}}
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">修改密码</button>
			</div>
		</div>
	</form>
</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}