{{ template "base.html" .}}
{{ define "body" }}
<div class="columns">
  <div class="column is-3">
    {{ template "partials/member_info.html" . }}
  </div>
  <div class="column is-9">
    <div class="tabs">
      <ul>
        <li><a href="/member/{{ .member.Username }}">主题</a></li>
        <li><a href="/member/{{ .member.Username }}/comments">回复</a></li>
        <li class="is-active"><a>收藏</a></li>
      </ul>
    </div>
    {{ template "partials/topics.html" . }}
    {{ template "partials/pagination.html" . }}
  </div>
</div>
{{ end }}