{{ template "base.html" . }}
{{ define "body" }}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title has-text-grey">忘记密码</h3>
          <div class="box">
            <div class="notification">
              此功能将会发送一个找回密码的链接到你的邮箱，通过该链接可以进入重置密码的页面。
            </div>
            <div id="form"></div>
          </div>
      </div>
    </div>
  </div>
</section>
<script type="text/babel">
  class ForgotPasswordForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        loading: true,
        submiting: false
      }
    }

    handlerGeetest = (captchaObj) => {
      captchaObj.appendTo('#captcha');
      this.setState({loading: false});
      window.gt = captchaObj;
    }

    handleSubmit = (e) => {
      e.preventDefault();

      const { username_or_email } = this.state;

      if (!username_or_email) {
        alert('请输入用户名或邮箱');
        return
      }

      let result = window.gt.getValidate();

      if (!result) {
        alert('请先完成验证！');
        return
      }

      this.setState({submiting: true});

      post('/api/forgot_password', {
        username_or_email: username_or_email,
        geetest_challenge: result.geetest_challenge,
        geetest_validate: result.geetest_validate,
        geetest_seccode: result.geetest_seccode
      }).then((data) => {
        console.log(data);

        this.setState({submiting: false});
      });
    }

    componentDidMount() {
      // 调用 initGeetest 进行初始化
      // 参数1：配置参数
      // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它调用相应的接口
      initGeetest({
        // 以下 4 个配置参数为必须，不能缺少
        gt: '{{ .gt }}',
        challenge: '{{ .challenge }}',
        offline: !{{ .success }}, // 表示用户后台检测极验服务器是否宕机
        new_captcha: {{ .new_captcha }}, // 用于宕机时表示是新验证码的宕机

        product: "popup", // 产品形式，包括：float，popup
        width: "100%",
        https: true

      // 更多配置参数说明请参见：http://docs.geetest.com/install/client/web-front/
      }, this.handlerGeetest);
    }

    render() {
      const { loading } = this.state;

      let waitingDiv;
      if (loading) {
        waitingDiv = <Loading />
      }

      return (<form onSubmit={this.handleSubmit}>
        <div className="field">
          <div className="control has-icons-left">
            <input className="input is-medium" type="text" placeholder="用户名或邮箱" onChange={ (e) => this.setState({username_or_email: e.target.value}) } />
            <span className="icon is-small is-left">
              <i className="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div className="field">
          <div id="captcha">
            { waitingDiv }
          </div>
        </div>

        <SubmitButton isFullwidh={true} size="is-medium" isFullwidth={true} isSubmiting={this.state.submiting} />
      </form>);
    }
  }

  ReactDOM.render(<ForgotPasswordForm />, document.getElementById('form'));
</script>
{{ end }}