{{define "Title"}}通过电子邮件重设密码{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span></li>
		<li class="active">通过电子邮件重设密码</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<form action="/forgot_password" method="post" class="form-horizontal">
			{{.form.Render "username"}}
			{{.form.Render "email"}}
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="继续">
			</div>
		</form>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}