{{ template "base.html" . }}
{{ define "body" }}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title has-text-grey">忘记密码</h3>
        <div class="box">
          <div class="notification">
            此功能将会发送一个找回密码的链接到你的邮箱，通过该链接可以进入重置密码的页面。
          </div>
          <div id="form"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/babel">
  class ForgotPasswordForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        username_or_email: '',
        captchaId: '',
        captchaValue: '',
        captchaImgSrc: '',
        loading: true,
        submiting: false
      }
    }

    handleUsernameOrEmailChange = (e) => {
      this.setState({ username_or_email: e.target.value });
    }

    handleCaptchaChange = (e) => {
      this.setState({ captchaValue: e.target.value });
    }

    changeCaptcha = (e) => {
      this.setState({
        loading: true
      });

      get('/api/captcha').then((data) => {
        if (data['status']) {
          this.setState({
            loading: false,
            captchaId: data['captcha_id'],
            captchaImgSrc: data['data']
          });
        } else {
          alert('获取验证码失败');
        }
      });
    }

    handleSubmit = (e) => {
      e.preventDefault();

      const { username_or_email, captchaId, captchaValue } = this.state;

      if (!username_or_email) {
        alert('请输入用户名或邮箱');
        return;
      }

      if (!captchaId || !captchaValue) {
        alert('请输入验证码');
        return;
      }

      this.setState({ submiting: true });

      post('/api/forgot_password', {
        username_or_email: username_or_email,
        captcha_id: captchaId,
        captcha_value: captchaValue
      }).then((data) => {
        this.setState({ submiting: false });
        alert(data['message']);
      });
    }

    componentDidMount() {
      get('/api/captcha').then((data) => {
        this.setState({
          loading: false,
          captchaId: data['captcha_id'],
          captchaImgSrc: data['data']
        });
      });
    }

    render() {
      const { loading, captchaImgSrc } = this.state;

      let waitingDiv;
      if (loading) {
        waitingDiv = <Loading />
      } else {
        waitingDiv = <div className="field has-addons">
          <p className="control is-expanded">
            <input className="input is-medium" type="text" placeholder="验证码" onChange={this.handleCaptchaChange} />
          </p>
          <p className="control">
            <a className="buttton is-static" onClick={this.changeCaptcha}>
              <img src={captchaImgSrc} />
            </a>
          </p>
        </div>;
      }

      return (<form onSubmit={this.handleSubmit}>
        <div className="field">
          <div className="control has-icons-left">
            <input className="input is-medium" type="text" placeholder="用户名或邮箱" onChange={this.handleUsernameOrEmailChange} />
            <span className="icon is-small is-left">
              <i className="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        {waitingDiv}

        <SubmitButton isFullwidh={true} size="is-medium" isFullwidth={true} isSubmiting={this.state.submiting} />
      </form>);
    }
  }

  ReactDOM.render(<ForgotPasswordForm />, document.getElementById('form'));
</script>
{{ end }}