{{ template "base.html" . }}
{{ define "body" }}
<style type="text/css">
  .users {
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
  }

  .user {
    width: 60px;
    height: 80px;
    margin: 8px 20px;
    padding: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
</style>
<h4>新加入会员</h4>
<div class="users">
  {{ range .members }}
    <a class="user" href="/member/{{ .Username }}" title="{{ .Username }}">
      <img src="{{ .AvatarImgSrc 48 }}">
      <span>{{ .Username }}</span>
    </a>
  {{ end }}
</div>
<div class="">
  <div class="column">
    <a href="/members/all" class="all-members">所有会员</a>
  </div>
</div>
{{ end }}