{{define "Title"}}{{.user.Username}}{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
        <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li><a href="/member/{{.user.Username}}">{{.user.Username}}</a></li>
		<li class="active">新的消息</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<a name="topic"></a>
		<h4>有新的回复的文章 
			{{if  eq .user.Username .username }}
		       	<a id="reply_clear" class="btn btn-info btn-small">清空</a>
			{{end}}
		</h4>
		<dl class="replies">
		{{range .comments}}
			<dd>
			<a href="/t/{{.ContentId}}"  >{{.TopicTitle}}</a><br>
			</dd>
		{{end}}
		</dl>
		<hr>
	</div>
	<div class="content">
		<a name="at"></a>
		<h4>最近被AT 
			{{if eq .user.Username .username}}
			<a id="at_clear" class="btn btn-info btn-small">清空</a>
			{{end}}
		</h4>
		<dl class="replies">
		{{if eq .user.Username .username}}
		{{range .ats}}
			<dd>
			<a href="/t/{{.ContentId}}#{{.CommentId}}">{{.User}}AT了你</a><br>
			</dd>
		{{end}}
		{{else}}
		{{range .ats}}
			<dd>
			<a href="/t/{{.ContentId}}#{{.CommentId}}">{{.User}}AT了他</a><br>
			</dd>
		{{end}}
		{{end}}
		</dl>
	</div>
{{end}}
{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
