{{define "Title"}}{{.user.Username}}{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span></li>
		<li><a href="/member/{{.user.Username}}">{{.user.Username}}</a> <span class="divider">/</span></li>
		<li class="active">全部回复</li>
	</ul>
{{end}}
{{define "Content"}}
	{{$utils := .utils}}

	<div class="content">
		<dl class="replies">
		{{range .replies}}
			<dd>
				回复了 <a href="/member/{{.Topic.Creater.Username}}">{{.Topic.Creater.Username}}</a> 创建的主题: <a href="/t/{{.Topic.Id_.Hex}}">{{.Topic.Title}}</a>
				<span class="pull-right">{{$utils.FormatTime .CreatedAt}}</span>
				<div>{{.Html}}</div>
			</dd>
		{{end}}
		</dl>
		<hr>
		{{.pagination.Html .page}}
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}