{{define "Title"}}重设密码{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">重设密码</li>
	</ul>
{{end}}

{{define "Content"}}
	<div class="content">
		<form action="/reset/{{.code}}" method="post" class="form-horizontal">
			<div class="control-group">
				<div class="controls">为帐号 {{.account}} 重设密码.</div>
			</div>
			{{.utils.RenderInputH .form "new_password" 2 6}}
			{{.utils.RenderInputH .form "confirm_password" 2 6}}
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-6">
					<input type="submit" class="btn btn-primary" value="继续">
				</div>
			</div>
		</form>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
