{{ template "base.html" . }}
{{ define "body" }}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title has-text-grey">重设密码</h3>
          <div class="box">
            <div id="form"></div>
          </div>
      </div>
    </div>
  </div>
</section>
<script type="text/babel">
  class ResetPasswordForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        submiting: false,

        username: "{{ .reset_username }}",
        code: "{{ .code }}",
        newPassword: "",
        confirmPassword: ""
      }
    }

    handleSubmit = (e) => {
      e.preventDefault();

      const { code, newPassword, confirmPassword } = this.state;

      if (newPassword !== confirmPassword) {
        alert("新密码和确认密码不一致");
        return
      }

      this.setState({submiting: true});

      post('/api/reset_password', {
        "code": code,
        "new_password": newPassword,
        "confirm_password": confirmPassword
      }).then((data) => {
        alert(data.message);

        if (data.status) {
          window.location.href = '/signin';
        } else {
          this.setState({submiting: false});
        }
      });
    }

    render() {
      const { username, newPassword, confirmPassword } = this.state;

      const disabled = !(newPassword && confirmPassword);

      return (<form onSubmit={this.handleSubmit}>
        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">用户名</label>
          </div>
          <div className="field-body">
            <div className="field">
              <p className="control">
                <input className="input is-medium is-static" type="text" value={username} readonly />
              </p>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">新密码</label>
          </div>
          <div className="field-body">
            <div className="field">
              <p className="control">
                <input className="input is-medium" type="password" value={newPassword} onChange={ (e) => this.setState({newPassword: e.target.value}) } />
              </p>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">确认密码</label>
          </div>
          <div className="field-body">
            <div className="field">
              <p className="control">
                <input className="input is-medium" type="password" value={confirmPassword} onChange={ (e) => this.setState({confirmPassword: e.target.value}) } />
              </p>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal"></div>
          <div className="field-body">
            <div className="field">
              <p className="control">
                  <SubmitButton isFullwidh={true} size="is-medium" isFullwidth={true} isSubmiting={this.state.submiting} disabled={disabled} />
              </p>
            </div>
          </div>
        </div>
      </form>);
    }
  }

  ReactDOM.render(<ResetPasswordForm />, document.getElementById('form'));
</script>
{{ end }}