{{define "Title"}}注册{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
        <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">注册</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
	  <form action="/signup" method="post" class="form-horizontal">
        {{.utils.RenderInputH .form "username" 2 6}}
        {{.utils.RenderInputH .form "password" 2 6}}
        {{.utils.RenderInputH .form "email" 2 6}}
		{{.utils.RenderInputH .form "captcha" 2 3}}
		<div class="form-group">
		  <div class="col-lg-offset-2 col-lg-3">
			<a href="javascript:;" onclick="reload();" title="点击更新验证码"><img src="/captcha/{{.captchaId}}.png" id="captcha-img"></a>
		  </div>
		</div>
		<input type="hidden" name="captchaId" value="{{.captchaId}}">
		<div class="form-group">
          <div class="col-md-offset-2 col-md-6">
			<input id="submit" type="submit" class="btn btn-primary" value="注册">
			<p>
			  <br>
			  已有帐号？<a href="/signin" class="btn btn-info">登录</a>
			</p>
          </div>
		</div>
	  </form>
	</div>
<script type="text/javascript">
  function setSrcQuery(e, q) {
    var src  = e.src;
    var p = src.indexOf('?');
    if (p >= 0) {
      src = src.substr(0, p);
    }
    e.src = src + "?" + q
  }

  function reload() {
    setSrcQuery(document.getElementById('captcha-img'), "reload=" + (new Date()).getTime());
  }
</script>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
