{{define "Title"}}登录{{end}}
{{define "ContentWidth"}}8{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">登录</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<img src="http://gopher.qiniudn.com/static/img/gopher/talks.png" class="pull-right">
		<form action="" method="post" class="form-horizontal" role="form">
			<fieldset>
				{{.form.RenderInput "next"}}
                {{.utils.RenderInputH .form "username" 2 6 `placeholder="用户名"`}}
                {{.utils.RenderInputH .form "password" 2 6 `placeholder="密码"`}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-6">
						<input type="submit" class="btn btn-primary" value="登录">
                        <p>
                            <br>
                            <a href="/forgot_password">忘记密码？</a><br>
                            没有帐号？<a href="/signup" class="btn btn-info">注册</a>
                        </p>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}
