{{ template "base.html" . }}
{{ define "body" }}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">注册</h3>
          <div class="box">
            <div id="form"></div>
          </div>
          <p class="has-text-grey">
            <a href="/signin">登录</a>
          </p>
      </div>
    </div>
  </div>
</section>
<script type="text/babel">
  const next = '{{ .next }}';
  class SignupForm extends React.Component {
    constructor(props) {
      super(props);
      this.state = {
        username: '',
        email: '',
        password: '',
        loading: true,
        submiting: false
      };
    }

    handleSubmit = (e) => {
      e.preventDefault();

      const {username, email, password} = this.state;

      if (this.state.submiting) {
        return;
      }

      if (!username) {
          this.setState({errors: ["请输入用户名"]});
          return
      }

      if (!email) {
        this.setState({errors: ["请输入邮箱地址"]});
        return
      }

      if (!password) {
        this.setState({errors: ["请输入密码"]});
        return
      }

      let result = window.gt.getValidate();

      if (!result) {
        alert('请先完成验证！');
        return
      }

      this.setState({submiting: true});

      post('/api/signup', {
        username: username.trim(),
        email: email,
        password: password,
        geetest_challenge: result.geetest_challenge,
        geetest_validate: result.geetest_validate,
        geetest_seccode: result.geetest_seccode
      }).then((data) => {
        if (data.status) {
          window.localStorage.setItem('token', data.token);
          Cookies.set('user', data.cookie.user, { expores: 365 });

          if (next) {
            window.location.href = next;
          } else {
            window.location.href = '/';
          }
        } else {
          this.setState({submiting: false});
          alert(data.message);
        }
      });
    }

    handlerGeetest = (captchaObj) => {
      captchaObj.appendTo('#captcha');
      this.setState({loading: false});
      window.gt = captchaObj;
    };

    componentDidMount() {
      // 调用 initGeetest 进行初始化
      // 参数1：配置参数
      // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它调用相应的接口
      initGeetest({
        // 以下 4 个配置参数为必须，不能缺少
        gt: '{{ .gt }}',
        challenge: '{{ .challenge }}',
        offline: !{{ .success }}, // 表示用户后台检测极验服务器是否宕机
        new_captcha: {{ .new_captcha }}, // 用于宕机时表示是新验证码的宕机

        product: "popup", // 产品形式，包括：float，popup
        width: "100%",
        https: true

      // 更多配置参数说明请参见：http://docs.geetest.com/install/client/web-front/
      }, this.handlerGeetest);
    }

    render() {
      const { username, password, email, loading } = this.state;

      let waitingDiv;
      if (loading) {
        waitingDiv = <Loading />
      }

      return (
        <form onSubmit={this.handleSubmit}>
          <div className="field">
            <div className="control has-icons-left">
              <input className="input is-medium" type="text" placeholder="用户名" onChange={ (e) => this.setState({username: e.target.value}) } />
              <span className="icon is-small is-left">
                <i className="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div className="field">
            <div className="control has-icons-left">
              <input className="input is-medium" type="email" placeholder="邮箱" onChange={ (e) => this.setState({email: e.target.value}) } />
              <span className="icon is-small is-left">
                <i className="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div className="field">
            <div className="control has-icons-left">
              <input className="input is-medium" type="password" placeholder="密码" onChange={ (e) => this.setState({password: e.target.value}) } />
              <span className="icon is-small is-left">
                <i className="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div className="field">
            <div id="captcha">
              { waitingDiv }
            </div>
          </div>

          <SubmitButton isFullwidh={true} size="is-medium" isFullwidth={true} isSubmiting={this.state.submiting} />
        </form>
      );
    }
  }

  ReactDOM.render(<SignupForm />, document.getElementById('form'));
</script>
{{ end }}
