{{define "Title"}}{{.title}}酷站{{end}}
{{define "ContentWidth"}}8{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li><a href="/sites">酷站</a></li>
		<li class="active">{{.title}}</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<form action="{{.action}}" method="post" class="form-horizontal" role="form">
			<fieldset>
				{{.utils.RenderInputH .form "name" 2 10}}
				{{.utils.RenderInputH .form "url" 2 10 `placeholder="http://或https://"`}}
				{{.utils.RenderInputH .form "description" 2 10 `rows="4"`}}
				{{.utils.RenderInputH .form "category" 2 6}}
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-6">
						<input type="submit" class="btn btn-primary" value="{{.title}}">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
