{{define "Title"}}Golang 酷站{{end}}
{{define "Content"}}
<ul class="breadcrumb">
	<li><a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span></li>
	<li class="active">酷站</li>
</ul>
<div class="content">
	<h3><small>下面列出了基于Go语言开发的国内外网站或应用,以及和Go相关的网站,包括博客,开源项目等等.如发现不在此列的,请帮忙补充.</small></h3>
	<a href="/site/new" class="btn btn-info">提交网站</a>
</div>
{{$username := .username}}
{{range .categories}}
	{{$sites := .Sites}}
	{{if len $sites}}
	<div class="content">
		<div class="page-header">
			<h4><small>{{.Name}}</small></h4>
		</div>
		<dl class="site">
		{{range $sites}}
			<dt id="site-{{.Id_.Hex}}">
				<img src="http://www.google.com/s2/favicons?domain_url={{.Url}}"><a href="{{.Url}}">{{.Name}}</a>
				{{if $username}}
					{{if .CanEdit $username}}
						<a href="/site/{{.Id_.Hex}}/edit" title="编辑"><i class="icon-pencil"></i></a>
					{{end}}
				{{end}}
			</dt>
			<dd>{{.Description}}</dd>
		{{end}}
		</dl>
	</div>
	{{end}}
{{end}}
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}