{{define "Title"}}{{.title}}{{end}}
{{define "ContentWidth"}}8{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">提交第三方包</li>
	</ul>
{{end}}
{{define "Content"}}
<div class="content">
  <form action="{{.action}}" method="post" id="package-form" role="form">
	<fieldset>
	  <input type="hidden" name="html" id="html">
	  {{.utils.RenderInput .form "category_id"}}
	  {{.utils.RenderInput .form "name"}}
	  {{.utils.RenderInput .form "url" `placeholder="http://或https://"`}}
	  <div class="form-group">
		<div id="editormd">
          <textarea style="display:none;">{{.form.Value "editormd-markdown-doc"}}</textarea>
		</div>
	  </div>
	  <input type="submit" id="submit" class="btn btn-primary" value="{{.title}}">
	</fieldset>
	</form>
</div>
<script>
  var editor;
  $(function() {
	editormd.urls.atLinkBase = "/member/";
	editor = createEditorMd("editormd", "#submit");
  });
</script>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
