{{define "Title"}}{{.package.Title}}{{end}}

{{define "Content"}}
{{$package := .utils.AssertPackage .package}}
{{$category := $package.Category}}
<ul class="breadcrumb">
	<li>
		<a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span>
	</li>
	<li>
		<a href="/packages">第三方包</a> <span class="divider">/</span>
	</li>
	<li>
		<a href="/packages/{{$category.Id}}">{{$category.Name}}</a> <span class="divider">/</span>
	</li>
	<li class="active">{{.package.Title}}</li>
</ul>
<div class="content">
	{{if .username}}
		{{$package := .utils.AssertPackage .package}}
		{{if $package.CanEdit .username}}
			<a href="/p/{{.package.Id_.Hex}}/delete" class="btn btn-danger pull-right"><i class="icon-remove icon-white"></i> 删除</a>
			<a href="/p/{{.package.Id_.Hex}}/edit" class="btn btn-info pull-right"><i class="icon-pencil icon-white"></i> 编辑</a>
		{{end}}
	{{end}}
	<h1>{{.package.Title}}</h1>
	{{.package.Html}}
	<hr>
	<ul>
		<li><strong>类别：</strong><a href="/packages/{{$category.Id}}">{{$category.Name}}</a></li>
		<li><strong>URL：</strong><a href="{{.package.Url}}" target="_blank">{{.package.Url}}</a></li>
		<li><strong>收录时间：</strong>{{.utils.FormatTime .package.CreatedAt}}</li>
	</ul>
</div>
{{end}}

{{define "LeftSide"}}
{{end}}

{{define "RightSide"}}
<div class="span3">
	<div class="well sidebar-nav">
		<h4><small>分类</small></h4>
		<ul class="nav">
			{{range .categories}}
			<li><a href="/packages/{{.Id}}">{{.Name}}<span class="badge pull-right">{{.PackageCount}}</span></a></li>
			{{end}}
		</ul>
	</div>
</div>
{{end}}