{{define "Title"}}所有会员{{end}}
{{define "Content"}}
<ul class="breadcrumb">
	<li>
		<a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span>
	</li>
	<li class="active">所有会员</li>
</ul>
<div class="alert alert-info" align="right">
	已有 {{.membersCount}} 位会员加入 Golang China。
</div>
<div class="content">
	<h3><small>新加入会员</small></h3>
	{{$utils := .utils}}
	<ul class="members clearfix">
		{{range .newestMembers}}
		<li>
			<a href="/member/{{.Username}}"><img src="{{.AvatarImgSrc}}-middle" class="img-rounded"></a>
			<a href="/members/{{.Username}}">{{.Username}}</a>
		</li>
		{{end}}
	</ul>
	<a href="/members/all" class="pull-right">所有会员</a>
	<div class="clearfix"></div>
</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}