{{define "Title"}}所有会员{{end}}
{{define "ContentWidth"}}10{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">所有会员</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="alert alert-info" align="right">
		已有 {{.membersCount}} 位会员加入 Golang China。
	</div>
	<div class="content">
		<h3><small>新加入会员</small></h3>
		<ul class="members clearfix">
			{{range .newestMembers}}
			<li>
			  <a href="/member/{{.Username}}">
				<img src="{{.AvatarImgSrc 48}}" class="img-rounded">
			  </a>
				<a href="/member/{{.Username}}">{{.Username}}</a>
			</li>
			{{end}}
		</ul>
		<a href="/members/all" class="pull-right">所有会员</a>
		<div class="clearfix"></div>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
