<div class="box content">
{{ range .topics }}
{{ $creater := .Creater $.db }}
{{ $node := .Node $.db }}
<article class="post">
  <h4><a href="/t/{{ .Id_.Hex }}">{{ truncate .Title 40 "..." }}</a></h4>
  <div class="media">
    <div class="media-left">
      <p class="image is-32x32">
        <img src="https://is.golangtc.com/avatar/{{ $creater.Avatar }}?width=48&height=48&mode=fill">
      </p>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <a href="/member/{{ $creater.Username }}">{{ $creater.Username }}</a>
          {{ if .CommentCount }}
            {{ $latestReplier := .LatestReplier $.db }}
            {{ if $latestReplier}}
              <time datetime="{{formatdatetime .LatestRepliedAt}}" title="{{ formatdatetime .LatestRepliedAt }}">{{ formattime .LatestRepliedAt }}</time> •
              最后回复来自 <a href="/member/{{ $latestReplier.Username }}">{{ $latestReplier.Username }}</a>
            {{ else }}
              <time datetime="{{ formatdatetime .CreatedAt }}" title="{{ formatdatetime .CreatedAt }}">{{ formattime .CreatedAt }}</time>
            {{ end }}
          {{ else }}
            <time datetime="{{ formatdatetime .CreatedAt }}" title="{{ formatdatetime .CreatedAt }}">{{ formattime .CreatedAt }}</time>
          {{ end }}
          &nbsp;
          <a class="tag" href="/go/{{$node.Id}}">{{ $node.Name }}</a>
        </p>
      </div>
    </div>
    {{ if .CommentCount }}
    <div class="media-right">
      <span class="has-text-grey-light"><i class="fa fa-comments"></i> {{ .CommentCount }}</span>
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
</div>