/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*******************************
            Global
*******************************/

/*-------------------
        Sidebar
--------------------*/

#admin .fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}

#admin .fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
#admin .fixed.launch.button:hover {
  width: 130px;
}
#admin .fixed.launch.button:hover .text {
  opacity: 1;
}


/*-------------------
        Grid
--------------------*/

#feed .grid {
  height: 100%;
}

#feed > .grid > .column {
  height: 100%;
}

/*-------------------
       Inbox
--------------------*/

#feed .inbox.tab {
  background-color: #FFFFFF;
}

#feed .inbox.tab .item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#feed .inbox.tab .item .rating {
  margin-top: 0.2rem;
}

#feed .inbox.tab .item .description {
  margin-left: 2em;
}

#feed .page {
  float: right;
  margin-top: 0.9em;
}

#feed .middle.column {
  padding: 1em 2em;
}

#feed .middle.column h2 {
  margin-top: 0em;
}

#feed .right.column {
  padding: 1em 2em;
  background-color: #FAFAFA;
}

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 1000px) {
  #feed .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width : 1250px) {
  #feed .left.column > .menu .item {
    font-size: 1rem;
  }
}