{{define "Title"}}管理{{end}}
{{define "Content"}}
<h1 class="ui dividing header">Dashboard</h1>
<div class="ui cards" id="statistic">
  <div class="card">
    <div class="content" style="background-color: #d9499a;">
      <div class="header">
		<i class="add user icon"></i> {{.newUserCount}}
	  </div>
      <div class="description">
        今日新增用户
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content" style="background-color: #d95c5c;">
      <div class="header">
		<i class="newspaper icon"></i> {{.newTopicCount}}
	  </div>
      <div class="description">
		今日新增主题
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content" style="background-color: #00b5ad;">
      <div class="header">
		<i class="comment icon"></i> {{.newCommentCount}}
	  </div>
      <div class="description">
		今日新增评论
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content" style="background-color: #5bbd72;">
      <div class="header">
		<i class="users icon"></i> {{.totalUserCount}}
      </div>
	  <div class="description">
		用户总数
	  </div>
    </div>
  </div>
</div>
{{end}}
