{{define "Title"}}包类别{{end}}
{{define "Content"}}
	<p><a href="/admin/package_category/new" class="ui icon green button"><i class="add icon"></i> 添加</a></p>
	<table class="ui table segment">
	<thead>
		<tr>
			<th>ID</th>
			<th>名称</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{{range .categories}}
		<tr>
			<td>{{.Id}}</td>
			<td>{{.Name}}</td>
			<td>
				<a href="/admin/package_category/{{.Id_.Hex}}/edit" class="ui mini icon button"><i class="edit icon"></i></a>
			</td>
		</tr>
	{{end}}
	</tbody>
	</table>
{{end}}

{{define "LeftSide"}}
	{{.adminNav}}
{{end}}

{{define "RightSide"}}{{end}}
