{{define "Title"}}图书{{end}}
{{define "ContentWidth"}}10{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">图书</a></li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content" id="book">
        <div class="page-header">
            <h2><small>中文图书</small></h2>
        </div>
        <ul class="books">
    {{range .chineseBooks}}
        <li>
            <div class="cover">
                <a href="/book/{{.Id_.Hex}}" data-toggle="popover" data-content="{{.Introduction}}" data-placement="right" data-original-title="{{.Title}}" data-trigger="hover"><img src="http://gopher.qiniudn.com/static/img/{{.Cover}}-book"></a>
            </div>
        </li>
    {{end}}
        </ul>
        <div class="clearfix"></div>
        <div class="page-header">
            <h2><small>英文图书</small></h2>
        </div>
        <ul class="books">
    {{range .englishBooks}}
        <li>
            <div class="cover">
                <a href="/book/{{.Id_.Hex}}" data-toggle="popover" data-content="{{.Introduction}}" data-placement="right" data-original-title="{{.Title}}" data-trigger="hover"><img src="http://gopher.qiniudn.com/static/img/{{.Cover}}-book"></a>
            </div>
        </li>
    {{end}}
        </ul>
        <div class="clearfix"></div>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}
{{end}}
