{{define "Title"}}{{.book.Title}}{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
        <li><a href="/books">图书</a></li>
        <li class="active">{{.book.Title}}</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
        <div class="clearfix">
            <img src="http://77fkk5.com1.z0.glb.clouddn.com/static/img/{{.book.Cover}}-book" style="float: left;">
            <div style="float: left;" class="col-lg-8">
                <h2>{{.book.Title}}</h2>
                <div class="book-meta">
                    <ul class="list-unstyled">
                        <li>作者：<strong>{{.book.Author}}</strong></li>
                    {{if .book.Translator}}
                        <li>译者：<strong>{{.book.Translator}}</strong></li>
                    {{end}}
                    {{if .book.Publisher}}
                        <li>出版社：<strong>{{.book.Publisher}}</strong></li>
                    {{end}}
                    {{if .book.PublicationDate}}
                        <li>出版年：<strong>{{.book.PublicationDate}}</strong></li>
                    {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#introduction" data-toggle="tab">简介</a></li>
            <li><a href="#info" data-toggle="tab">图书信息</a></li>
        </ul>

        <div class="tab-content book-detail">
            <div class="tab-pane active" id="introduction">
                {{nl2br .book.Introduction}}
            </div>
            <div class="tab-pane" id="info">
                <ul class="list-unstyled">
                    <li>作者：<strong>{{.book.Author}}</strong></li>
                {{if .book.Translator}}
                    <li>译者：<strong>{{.book.Translator}}</strong></li>
                {{end}}
                {{if .book.Publisher}}
                    <li>出版社：<strong>{{.book.Publisher}}</strong></li>
                {{end}}
                {{if .book.PublicationDate}}
                    <li>出版年：<strong>{{.book.PublicationDate}}</strong></li>
                {{end}}
                {{if .book.ISBN}}
                    <li>ISBN：<strong>{{.book.ISBN}}</strong></li>
                {{end}}
                </ul>
            </div>
        </div>
    </div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}
