<style>
  .hr-dividing {
    padding: 10px 0;
  }
</style>

<div id="form">
</div>

<script type="text/babel">
  class ProfileForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        submiting: false,

        oldPassword: "",
        newPassword: "",
        confirmPassword: "",
      }
    }

    handlOldPasswordChange = (e) => {
      this.setState({
        oldPassword: e.target.value
      })
    }
    handleNewPasswordChange = (e) => {
      this.setState({
        newPassword: e.target.value
      })
    }
    handleConfirmPasswordChange = (e) => {
      this.setState({
        confirmPassword: e.target.value
      })
    }

    handleSubmit = (e) => {
      e.preventDefault();
      if (this.state.oldPassword === "") {
        alert("原密码不能为空");
        return;
      }
      if (this.state.newPassword === "") {
        alert("新密码不能为空");
        return;
      }
      if (this.state.newPassword !== this.state.confirmPassword) {
        alert("新密码不一致");
        return;
      }

      this.setState({ submiting: true });
      let url = '/api/user_center/change_password';
      let formData = {
        oldPassword: this.state.oldPassword,
        newPassword: this.state.newPassword,
        confirmPassword: this.state.confirmPassword,
      }

      put(url, formData).then((data) => {
        if (data.status) {
          alert("保存成功");
        } else {
          alert(data.message);
        }
        this.setState({ submiting: false });
      });
    }

    render() {
      let formClassName = "ui form";
      let fieldClassName = "inline field";
      let labelClassName = "two wide field";
      let inputClassName = "twelve wide field";
      let submitClassName = "ui primary submit button";
      let hrClassName = "hr-dividing";
      let submitBtnClassName = "ui primary button";
      
      if (this.state.submiting) {
        submitBtnClassName += " loading disabled";
      }

      return (<null>
        <form className={formClassName} onSubmit={this.handleSubmit}>
          <div className={formClassName}>
            <div className={fieldClassName}>
              <label className={labelClassName}>原密码</label>
              <input type="password" className={inputClassName} placeholder="请输入原密码" value={this.state.oldPassword} onChange={this.handlOldPasswordChange} />
            </div>
            <div className={fieldClassName}>
              <label className={labelClassName}>新密码</label>
              <input type="password" className={inputClassName} placeholder="请输入新密码" value={this.state.newPassword} onChange={this.handleNewPasswordChange} />
            </div>
            <div className={fieldClassName}>
              <label className={labelClassName}>新密码确认</label>
              <input type="password" className={inputClassName} placeholder="请再次输入新密码" value={this.state.confirmPassword} onChange={this.handleConfirmPasswordChange} />
            </div>
            
            <div className={hrClassName}></div>

            <div className={fieldClassName}>
              <label className={labelClassName}></label>
              <button type="submit" className={submitBtnClassName}>提交</button>
            </div>
          </div>
        </form>
      </null>);
    }
  }

  ReactDOM.render(<ProfileForm />, document.getElementById('form'));
</script>