{{ template "base.html" .}}
{{ define "body" }}
<div class="columns">
  <div class="column is-3">
    {{ template "user_center/sidebar.html" .}}
  </div>
  <div class="column is-9">
    <div class="box" id="form"></div>
  </div>
</div>
<script type="text/babel">
  class ChangePasswordForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        submiting: false,

        oldPassword: '',
        newPassword: '',
        confirmPassword: ''
      }
    }

    handleOldPasswordChange = (e) => {
      this.setState({
        oldPassword: e.target.value
      })
    }

    handleNewPasswordChange = (e) => {
      this.setState({
        newPassword: e.target.value
      })
    }

    handleConfirmPasswordChange = (e) => {
      this.setState({
        confirmPassword: e.target.value
      })
    }

    handleSubmit = (e) => {
      e.preventDefault();

      const {oldPassword, newPassword, confirmPassword} = this.state;

      if (oldPassword === "") {
        alert("旧密码不能为空");
        return
      }

      if (newPassword === "") {
        alert("新密码不能为空");
        return
      }

      if (newPassword !== confirmPassword) {
        alert("新密码不一致");
        return
      }

      if (oldPassword === newPassword) {
        alert("旧密码和新密码不能相同");
        return
      }

      this.setState({ submiting: true });

      put('/api/user_center/change_password', {
        oldPassword: oldPassword,
        newPassword: newPassword,
        confirmPassword: confirmPassword
      }).then((data) => {
        alert(data.message);
        this.setState({ submiting: false });
      });
    }

    render() {
      const {submitig, oldPassword, newPassword, confirmPassword} = this.state;

      const disabled = !(oldPassword && newPassword && confirmPassword);

      return (<form onSubmit={this.handleSubmit}>
        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">旧密码</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="password" onChange={this.handleOldPasswordChange} value={oldPassword} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">新密码</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="password" onChange={this.handleNewPasswordChange} value={newPassword} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">确认新密码</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="password" onChange={this.handleConfirmPasswordChange} value={confirmPassword} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label">
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <SubmitButton isSubmiting={this.state.submiting} disabled={disabled} />
              </div>
            </div>
          </div>
        </div>
      </form>);
    }
  }

  ReactDOM.render(<ChangePasswordForm />, document.getElementById('form'));
</script>
{{ end }}
