{{ template "base.html" .}}
{{ define "body" }}
<div class="columns">
  <div class="column is-3">
    {{ template "user_center/sidebar.html" .}}
  </div>
  <div class="column is-9">
    <div class="box" id="form"></div>
  </div>
</div>
<script type="text/babel">
  class BasicInfoForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        loading: true,
        submiting: false,
        username: '',
        email: '',
        bio: ''
      }
    }

    componentDidMount() {
      get('/api/user_center/user_info').then((data) => {
        this.setState({
          loading: false,
          username: data.username,
          email: data.email,
          bio: data.bio
        })
      });
    }

    handleEmailChange = (e) => {
      this.setState({email: e.target.value.trim()});
    }

    handleBioChange = (e) => {
      this.setState({bio: e.target.value});
    }

    handleSubmit = (e) => {
      e.preventDefault();

      const {email, bio} = this.state;

      this.setState({submiting: true});

      put('/api/user_center/basic_info', {
        "email": email,
        "bio": bio
      }).then((data) => {
        alert(data.message);
        this.setState({submiting: false});
      });
    }

    render() {
      const {loading, username, email, bio} = this.state;

      const disabled = !email;

      let form;
      if (loading) {
        form = <Loading />
      } else {
        form = (<form onSubmit={this.handleSubmit}>
          <div className="field is-horizontal">
            <div className="field-label is-normal">
              <label className="label">用户名</label>
            </div>
            <div className="field-body">
              <div className="field">
                <div className="control">
                  <input className="input is-static" type="text" value={username} />
                </div>
              </div>
            </div>
          </div>

          <div className="field is-horizontal">
            <div className="field-label is-normal">
              <label className="label">Email</label>
            </div>
            <div className="field-body">
              <div className="field">
                <div className="control">
                  <input className="input" type="email" onChange={this.handleEmailChange} value={email} />
                </div>
              </div>
            </div>
          </div>

          <div className="field is-horizontal">
            <div className="field-label is-normal">
              <label className="label">个人简介</label>
            </div>
            <div className="field-body">
              <div className="field">
                <div className="control">
                  <textarea className="textarea" onChange={this.handleBioChange}>{bio}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div className="field is-horizontal">
            <div className="field-label">
            </div>
            <div className="field-body">
              <div className="field">
                <div className="control">
                  <SubmitButton isSubmiting={this.state.submiting} disabled={disabled} />
                </div>
              </div>
            </div>
          </div>
        </form>);
      }

      return form;
    }
  }

  ReactDOM.render(<BasicInfoForm />, document.getElementById('form'));
</script>
{{ end }}