{{define "Title"}}用户中心{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}{{end}}
{{define "Content"}}
<div class="content">
  <form action="/user_center/edit_info" method="post" class="form-horizontal" role="form">
  	<div class="form-group">
  	  <label class="col-lg-2 control-label">用户名</label>
  	  <div class="col-lg-6">
          <p class="form-control-static">{{.user.Username}}</p>
  	  </div>
  	</div>
    {{$email := .profileForm.Field "email"}}
    <div class="form-group">
      {{$email.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        {{$email.RenderInput `class="form-control"`}}
      </div>
    </div>
    {{$website := .profileForm.Field "website"}}
    <div class="form-group">
      {{$website.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        {{$website.RenderInput `class="form-control"`}}
      </div>
    </div>
    {{$location := .profileForm.Field "location"}}
    <div class="form-group">
      {{$location.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        {{$location.RenderInput `class="form-control" placeholder="城市名即可，无须省"`}}
      </div>
    </div>
    {{$tagline := .profileForm.Field "tagline"}}
    <div class="form-group">
      {{$tagline.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        {{$tagline.RenderInput `class="form-control"`}}
      </div>
    </div>
    {{$bio := .profileForm.Field "bio"}}
    <div class="form-group">
      {{$bio.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        {{$bio.RenderInput `class="form-control"`}}
      </div>
    </div>
    <hr>
    {{$github_username := .profileForm.Field "github_username"}}
    <div class="form-group">
      {{$github_username.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        {{$github_username.RenderInput `class="form-control"`}}
      </div>
    </div>
    {{$weibo := .profileForm.Field "weibo"}}
    <div class="form-group">
      {{$weibo.RenderLabel `class="col-lg-2 control-label"`}}
      <div class="col-lg-10">
        <div class="input-group">
          <span class="input-group-addon">http://weibo.com/</span>
          {{$weibo.RenderInput `class="form-control"`}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <input type="submit" class="btn btn-primary" value="保存设置">
      </div>
    </div>
  </form>
</div>
{{end}}
{{define "LeftSide"}}
  {{include "user_center/sidebar.html" .}}
{{end}}
{{define "RightSide"}}{{end}}