{{ template "base.html" .}}
{{ define "body" }}
<div class="columns">
  <div class="column is-3">
    {{ template "user_center/sidebar.html" .}}
  </div>
  <div class="column is-9">
    <div class="box" id="form"></div>
  </div>
</div>
<script type="text/babel">
  class BasicInfoForm extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        loading: true,
        location: '',
        website: '',
		tagline: '',
		github: '',
		weibo: ''
      }
    }

    componentDidMount() {
      get('/api/user_center/user_info').then((data) => {
        this.setState({
          location: data.location,
          website: data.website,
          tagline: data.tagline,
          github: data.github,
          weibo: data.weibo
        })
      });
    }

    render() {
      const {location, website, tagline, github, weibo} = this.state;

      return (<form>
        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">所在地</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="text" value={location} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">个人网站</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="text" value={website} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">签名</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="text" value={tagline} />
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">Github 用户名</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="text" value={github} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label is-normal">
            <label className="label">新浪微博</label>
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <input className="input" type="text" value={weibo} />
              </div>
            </div>
          </div>
        </div>

        <div className="field is-horizontal">
          <div className="field-label">
          </div>
          <div className="field-body">
            <div className="field">
              <div className="control">
                <button className="button is-primary">
                  提交修改
                </button>
              </div>
            </div>
          </div>
      </div>
      </form>);
    }
  }

  ReactDOM.render(<BasicInfoForm />, document.getElementById('form'));
</script>
{{ end }}