<div class="col-md-3 left sidebar">
  <div class="list-group">
		<div class="list-group-item">
	    <div class="pull-left avatar">
	      <img class="img-circle" src="{{.curr_user.AvatarImgSrc 48}}">
		  </div>
		  <div class="pull-left info">
				<h4>{{.curr_user.Username}}</h4>
		  </div>
		  <div class="clearfix"></div>
	  </div>
		<div class="list-group-item heading">个人资料管理</div>
		<a href="/user_center/edit_info" class="list-group-item{{if eq .active "edit_info"}} active{{end}}">修改资料</a>
		<a href="/user_center/change_password" class="list-group-item{{if eq .active "change_password"}} active{{end}}">修改密码</a>
		<a href="/user_center/change_avatar" class="list-group-item{{if eq .active "change_avatar"}} active{{end}}">修改头像</a>
  </div>
</div>