{{define "Title"}}新建节点{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">新建节点</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<form action="/admin/node/new" method="post" class="form-horizontal" role="form">
			{{.utils.RenderInputH .form "id" 2 6}}
			{{.utils.RenderInputH .form "name" 2 6}}
			{{.utils.RenderInputH .form "description" 2 10 `rows="4"`}}
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" class="btn btn-primary" value="新建">
				</div>
			</div>
		</form>
	</div>
{{end}}

{{define "LeftSide"}}
	{{.adminNav}}
{{end}}

{{define "RightSide"}}{{end}}
