{{define "Title"}}后台管理：{{if .isNew}}添加{{else}}编辑{{end}}友情链接{{end}}
{{define "Content"}}
<form action="" method="post" class="ui form segment">
  {{input .form "name"}}
  {{input .form "url"}}
  {{input .form "description"}}
  {{input .form "logo"}}
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="is_on_home"
			 {{if not .isNew}}
			   {{if .linkExchange.IsOnHome}} checked{{end}}
			 {{end}}
			 >
      <label>在首页显示</label>
    </div>
  </div>
  <div class="field">
	<div class="ui checkbox">
	  <input type="checkbox" name="is_on_bottom"
			 {{if not .isNew}}
			   {{if .linkExchange.IsOnBottom}} checked{{end}}
			 {{end}}
			 >
	  <label>在底部显示</label>
	</div>
  </div>
  <div class="ui hidden divider"></div>
  <input type="submit" value="提交" class="ui submit button green">
</form>
<script type="text/javascript">
  $(document).ready(function() {
    $('.ui.checkbox').checkbox();
  });
</script>
{{end}}
