{{define "Title"}}关于{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
<ul class="breadcrumb">
  <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
  <li class="active">关于</li>
</ul>
{{end}}
{{define "Content"}}
<div class="content">
  <p>该网站由<a href="/member/jimmykuu">Jimmy Kuu</a>创建，目标打造一个一流的国内Go语言交流社区，于2012年8月底上线。网站模式参考<a href="http://www.v2ex.com" target="_blank">V2EX</a>。</p>
  <p>网站使用Go语言开发，Go语言内置库提供了完善的Web开发模块，因此没有使用第三方的Web框架。</p>
  <h2>联系方式</h2>
  <p>邮箱： <a href="mailto:support@golangtc.com">support@golangtc.com</a></p>
  <h2>广告服务</h2>
  <p>Golang 中国是国内较活跃的Go语言社区网站，聚集了国内大部分Go语言爱好者，专注于Go语言的学习交流，为大家提供Go语言交流和服务。</p>
  <p>工作日日均 PV 5000 左右，双休日 2500 左右。</p>
  <p>为了社区更好的发展，在首页和主题页面右侧留有广告位。</p>
  <p>欢迎投放云计算、云服务、新产品等广告。</p>
  <p>联系邮箱： <a href="mailto:ad@golangtc.com">ad@golangtc.com</a></p>
  <h2>关于Linode</h2>
  <p>Linode是一个优秀的VPS服务提供商，本站就部署在Linode VPS上，我的推荐码是：<a href="https://www.linode.com/?r=2bbf272ff1d5457dfcc269442534b20cae7b7fc4">2bbf272ff1d5457dfcc269442534b20cae7b7fc4</a>。如果你有购买Linode VPS的需求，并且觉得如果觉得本站对你的学习和开发有帮助，为了帮助本站更好的发展，可以通过这个链接<a href="https://www.linode.com/?r=2bbf272ff1d5457dfcc269442534b20cae7b7fc4">https://www.linode.com/?r=2bbf272ff1d5457dfcc269442534b20cae7b7fc4</a>来购买VPS，如果使用90天，我的帐号将会收到一笔$20的信用。</p>
  <hr>
  <img src="http://gopher.qiniudn.com/static/img/gopher/run.png">
  <blockquote class="pull-right">
	<p>我曾经走过许多地方，</p>
	<p>把土拨鼠带在身旁。</p>
	<p>为了生活我到处流浪，</p>
	<p>带土拨鼠在身旁。</p>
	<p>啊土拨鼠，啊土拨鼠，</p>
	<p>这土拨鼠陪在我身旁。</p>
	<p>啊土拨鼠，啊土拨鼠，</p>
	<p>这土拨鼠陪在我身旁。</p>
	<small>贝多芬 • 《土拨鼠》</small>
  </blockquote>
  <div class="clearfix"></div>
</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}
