{{define "Title"}}关于{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">关于</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<p>该网站由<a href="/member/jimmykuu">Jimmy Kuu</a>创建，主要看国内Go语言除了邮件列表没有一个在线的社区。网站模式参考<a href="http://www.v2ex.com" target="_blank">V2EX</a>。</p>
		<p>网站使用Go语言开发，Go语言内置库提供了完善的Web开发模块，因此没有使用第三方的Web框架。</p>
		<hr>
		<img src="http://gopher.qiniudn.com/static/img/gopher/run.png">
		<blockquote class="pull-right">
			<p>我曾经走过许多地方，</p>
			<p>把土拨鼠带在身旁。</p>
			<p>为了生活我到处流浪，</p>
			<p>带土拨鼠在身旁。</p>
			<p>啊土拨鼠，啊土拨鼠，</p>
			<p>这土拨鼠陪在我身旁。</p>
			<p>啊土拨鼠，啊土拨鼠，</p>
			<p>这土拨鼠陪在我身旁。</p>
			<small>贝多芬 • 《土拨鼠》</small>
		</blockquote>
		<div class="clearfix"></div>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}{{end}}
