<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }} - Golang 中国</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="{{ staticfile "css/semantic.min.css" }}" rel="stylesheet" type="text/css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="{{ staticfile "js/semantic.min.js" }}"></script>
    <script src="{{ staticfile "js/fetch.js" }}"></script>
    <script src="{{ staticfile "js/application.js" }}"></script>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{{ staticfile "js/js.cookie.js" }}"></script>
    <script src="{{ staticfile "js/showdown.min.js" }}"></script>
    <script type="text/babel" src="{{ staticfile "js/components.js" }}"></script>
    <style type="text/css">
      body, .ui.items>.item>.content>.header {
        font-family: "Microsoft Yahei";
      }
    </style>
    <script type="text/javascript">
      function signout() {
        Cookies.remove('user');
        window.location.reload();
      }
    </script>
  </head>
  <body>
    <div class="ui container menu">
      <a class="header item" href="/">
        Golang 中国
      </a>

      {{ if .user }}
      <div class="ui dropdown right item">
        {{ .user.Username }}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> 编辑配置文件</a>
          <a class="item"><i class="globe icon"></i> 选择语言</a>
          <a class="item" href="javascript: signout();"><i class="sign out icon"></i> 登出</a>
        </div>
      </div>
      {{ else }}
      <div class="right menu">
        <a class="item" href="/signin">登录</a>
        <a class="item" href="/signup">注册</a>
      </div>
      {{ end }}
    </div>

    <div class="ui container">
      {{ template "body" .}}
    </div>

    <footer>
    </footer>
  </body>
  <script type="text/javascript">
    $('.ui.dropdown').dropdown();
  </script>
</html>