{{define "Title"}}FAQ{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">FAQ</li>
	</ul>
{{end}}
{{define "Content"}}
    <style type="text/css">
        dt {
            margin-bottom: 1em;
        }
    </style>
	<div class="content">
		<dl class="faq">
            <dt><span class="label label-info">Q</span> 网站是用什么开发的？</dt>
			<dd><span class="label label-success">A</span> 使用Go语言开发，既然是Go语言社区，用其他语言开发实在说不过去。</dd>
			<dt><span class="label label-info">Q</span> 网站开发是否使用了Web框架？</dt>
			<dd><span class="label label-success">A</span> 由于Go语言的内置模块提供了http Server，模板，没有使用第三方Web框架，url分发使用了mux。</dd>
			<dt><span class="label label-info">Q</span> 网站代码是否开源？</dt>
			<dd><span class="label label-success">A</span> 代码已经开源，在<a href="https://github.com/jimmykuu/gopher" target="_blank">GitHub</a>。</dd>
			<dt><span class="label label-info">Q</span> 网站为何用用golangtc.com域名？</dt>
			<dd><span class="label label-success">A</span> 原来的域名是golang.tc，但用了半年Godaddy不再继续tc域名注册了，golang.tc也被没收了，2013-09-02这天终于彻底不能用了。现在用golangtc.com这个域名。至于tc代表啥，你懂的。</dd>
		</dl>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
