<div class="uk-width-medium-3-4 uk-row-first">
  <ul class="topic-list">
  {{ range .topics }}
  {{ $creater := .Creater $.db }}
  {{ $node := .Node $.db }}
  <li class="mdl-list__item mdl-list__item--three-line">
    <a href="/member/{{$creater.Username}}" class="avatar">
      <img src="{{ $creater.AvatarImgSrc 80 }}" alt="{{$creater.Username}}" style="width: 40px; height: 40px; border-radius: 100px; vertical-align: top;">
    </a>
    <a href="/t/{{ .Id_.Hex }}" class="title">{{ truncate .Title 40 "..." }}</a>
    <div>
      <a class="label label-info" href="/go/{{$node.Id}}">{{$node.Name}}</a> •
      <a href="/member/{{$creater.Username}}"><strong>{{$creater.Username}}</strong></a> •
      {{ if .CommentCount }}
      {{ $latestReplier := .LatestReplier $.db }}
        <time datetime="{{formatdatetime .LatestRepliedAt}}" title="{{ formatdatetime .LatestRepliedAt }}">{{ formattime .LatestRepliedAt }}</time> •
        最后回复来自 <a href="/member/{{ $latestReplier.Username }}">{{ $latestReplier.Username }}</a>
      {{ else }}
        <time datetime="{{ formatdatetime .CreatedAt }}" title="{{ formatdatetime .CreatedAt }}">{{ formattime .CreatedAt }}</time>
      {{ end }}

      {{ if .CommentCount }}
        <a class="uk-float-right" href="/t/{{.Id_.Hex}}#.LatestReplyId.Hex">{{.CommentCount}}</a>
      {{ end }}
    </div>
  </li>
  {{ end }}
  </ul>
</div>
<div class="uk-width-medium-1-4">
  <a class="uk-button uk-button-primary" href="/topic/new">发表话题</a>
</div>
<style type="text/css">
  ul.topic-list {
    list-style: none;
  }

  ul.topic-list li {
  margin-bottom: 1em;
  }

  a.avatar {
  float: left;
  margin-right: 15px;
  }

  a.title {

  }
</style>
