{{ template "base.html" . }}
{{ define "body" }}
<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui secondary pointing menu">
      <div class="header item">话题首页</div>
      <div id="search-input"></div>
      <div class="tabs is-right">
        <ul>
          <li{{ if eq .active "LatestReply" }} class="is-active"{{ end }}><a>最近回复</a></li>
          <li{{ if eq .active "Latest" }} class="is-active"{{ end }}><a>最近发布</a></li>
          <li{{ if eq .active "Latest" }} class="is-active"{{ end }}><a>尚未回复</a></li>
        </ul>
      </div>
    </div>
    <div class="ui items segment">
      {{ template "partials/pagination.html" . }}
      {{ template "partials/topics.html" . }}
      {{ template "partials/pagination.html" . }}
    </div>
  </div>

  <div class="four wide column">
    <div class="ui segment">
      <p>
        <a class="fluid ui primary button" href="/topic/new">发表新话题</a>
      </p>
    </div>
    {{ template "partials/ads.html" . }}
  </div>
</div>

<script type="text/babel">
  class SearchInput extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        q: ''
      }
    }

    search() {
      if (this.state.q) {
        window.location.href = '/search?q=' + this.state.q;
      }
    }

    handleKeyPress = (e) => {
      if (e.key == 'Enter') {
        this.search();
      }
    }

    handleSearch = (e) => {
      this.search();
    }

    handleQChange = (e) => {
      this.setState({q: e.target.value});
    }

    render() {
      return (
        <div className="ui icon input">
          <input type="text" placeholder="搜索主题..." onKeyPress={this.handleKeyPress} onChange={this.handleQChange} />
          <i className="search link icon" onClick={this.handleSearch}></i>
        </div>
      );
    }
  }

  ReactDOM.render(<SearchInput />, document.getElementById('search-input'));
</script>
{{ end }}
