<!DOCTYPE html> <html> <head> <title>Go游乐场</title> <link rel="stylesheet" href="/static/css/play.css"> <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script> </head> <body> <div id="banner"> <div id="head">Go游乐场</div>
			<div id="controls">
				<input type="button" value="运行" id="run">
				<input type="button" value="格式化" id="fmt">
				<div id="importsBox">
					<label>
						<input type="checkbox" id="imports" checked="checked">导入</label>
				</div> <input type="button" value="分享" id="share">
				<input type="text" id="shareURL" style="display:none">
			</div>
		</div>
		<div id="wrap">
			<div class="linedtextarea">
				<textarea spellcheck="false" id="code">package main
import "fmt"
func main(){
	fmt.Println("这个游乐场可以用于重现和分享Go代码.")
}</textarea>
			</div>
		</div>
		<div id="output">
			<pre id="response"></pre>
		</div>
	</body>
	<script type="text/javascript">
	// console 重定向
	(function(){
		var oldLog = console.log;
		console.log = function(message){
			$("#response").css("color","black");
			var output = $("#response").html();
			var message = message.replace(/\n/g,"<br>");
			$("#response").html(output+message);
			oldLog.apply(console,arguments);
		};
	})();

	function setURL(id){
		console.log(id);
		var url = "{{.Host}}"+"/play/"+id;
		$("#shareURL").val(url);
		$("#shareURL").select();
	};

	var socket = new WebSocket("ws://localhost:8888/playsocket");
	socket.onopen = function(event){

		// 分享代码
		$( "#share" ).click(function(){
			var id = "{{.CodeId}}";
			if(id!==""){
				// 更新代码
				alert("update");
				var cmd = {
					Command:"update",
					Id:id,
					Content:$("#code").val(),
				}	
				socket.send(JSON.stringify(cmd));
			}else{
				alert("share");
				//　提交新的代码.
				var cmd = {
					Command:"share",
					Content:$("#code").val(),
				}	
				socket.send(JSON.stringify(cmd));
			}
		});

		// 运行代码
		$( "#run" ).click(function(){
			var cmd = {
				Command:"run",
				Content:$("#code").val(),
			}
			$("#response").text("excuting...");
			socket.send(JSON.stringify(cmd));
		});

		window.onunload = function(){
			var cmd = {
				Command:"close",
			}
			socket.send(JSON.stringify(cmd));
		};
	}
	
	socket.onmessage = function(event){
		var data = JSON.parse(event.data);
		if(data.Command == "run"){
			if(data.Err){
				var err = data.Err;
				$("#response").css("color","red");
				$("#response").text(err);
			}else{
				$("#response").text("");
				var ret = data.Content;
				eval(ret);
			}
		}

		if(data.Command == "share" ||
		   data.Command == "update"){
			if(data.Err){
				$("#response").css("color","red");
				$("#response").text("存在错误:\n"+data.Err);
			}else{
				$("#shareURL").css("display","inline-block");
				var url = "{{.Host}}"+"/play/"+data.Content;
				$("#shareURL").val(url);
				$("#shareURL").select();
			}
		}
	}
	</script>
</html>
