{{define "Title"}}搜索结果{{end}}
{{define "ContentWidth"}}10{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">搜索结果</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<form action="/search" method="get" role="form" style="margin-bottom: 2em;">
			<div class="input-group">
				<input type="text" name="q" class="form-control" value="{{.q}}">
				<span class="input-group-btn">
     			    <button type="submit" class="btn btn-info">搜索</button>
				</span>
			</div>
		</form>

		<dl class="topics">
		{{range .topics}}
		    {{$creater := .Creater $.db}}
            {{$node := .Node $.db}}
		    {{$latestReplier := .LatestReplier $.db}}
			<dd>
				<a href="/member/{{$creater.Username}}" class="pull-left" style="margin-right: 10px;"><img src="{{$creater.AvatarImgSrc}}-middle" class="img-rounded"></a>
				{{if .CommentCount}}
					<a class="badge pull-right" href="/t/{{.Id_.Hex}}#.LatestReplyId.Hex">{{.CommentCount}}</a>
				{{end}}
				<a href="/t/{{.Id_.Hex}}" class="title">{{.Title}}</a>
				<div class="space"></div>
				<div class="info" style="margin-left:60px;">
					<a class="label label-info" href="/go/{{$node.Id}}">{{$node.Name}}</a> •
					<a href="/member/{{$creater.Username}}"><strong>{{$creater.Username}}</strong></a> •
					{{if .CommentCount}}
						{{$.utils.FormatTime .LatestRepliedAt}} • 最后回复来自 <a href="/member/{{$latestReplier.Username}}">{{$latestReplier.Username}}</a>
					{{else}}
						{{$.utils.FormatTime .CreatedAt}}
					{{end}}
				</div>
				<div class="clear"></div>
			</dd>
		{{end}}
		</dl>
		<hr>
		{{.pagination.Html .page}}
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}
    <div class="col-md-2 sidebar">
    </div>
{{end}}
