{{define "Title"}}Golang中国时间线{{end}}
{{define "ContentWidth"}}12{{end}}
{{define "Breadcrumb"}}
<ul class="breadcrumb">
  <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
  <li class="active">时间线</li>
</ul>
{{end}}
{{define "Content"}}
<link rel="stylesheet" type="text/css" media="all" href="/static/css/timeline.css">
<div class="content main">
  <div class="page-header">
    <h1 style="text-align: center;">Golang中国社区成长时间线</h1>
  </div>
  <ul class="timeline">
    <li><div class="tldate">2015</div></li>

	<li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>实现 Markdown 编辑器的图片上传功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2015-05-09</small></p>
        </div>
        <div class="tl-body">
		  <p>通过 <a href="https://pandao.github.io/editor.md/" target="_blank">editor.md</a> 的上传插件，上传图片到服务器后再传到七牛。</p>
        </div>
	  </div>
    </li>

    <li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>Markdown 编辑器换成 <a href="https://pandao.github.io/editor.md/" target="_blank">editor.md</a></h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2015-05-04</small></p>
        </div>
        <div class="tl-body">
		  <p><a href="https://pandao.github.io/editor.md/" target="_blank">editor.md</a> 是一款国人开发的 Markdown 编辑器，默认支持 <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">GFM</a> 。</p>
        </div>
	  </div>
    </li>

    <li><div class="tldate">2014</div></li>

    <li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加第三方包下载功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014-07-23</small></p>
        </div>
        <div class="tl-body">
		  <p>可以下载 Google Code 等不能访问的代码托管网站上的 package 。</p>
        </div>
	  </div>
    </li>

	<li><div class="tldate">2013</div></li>

    <li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加图书板块</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-11-06</small></p>
        </div>
        <div class="tl-body">
		  <p>列出 Go 语言相关的中英文图书。</p>
        </div>
	  </div>
    </li>

    <li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>网站域名由 golang.tc 换为 golangtc.com</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-09-03</small></p>
        </div>
        <div class="tl-body">
		  <p>golang.tc 域名悲催地被 Godaddy 没收，启动新域名，从头再来。</p>
        </div>
	  </div>
    </li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加下载功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-08-23</small></p>
        </div>
        <div class="tl-body">
		  <p>由于 Go 官方下载不稳定，提供 Go 安装包和源码的本地下载。</p>
        </div>
	  </div>
    </li>

	<li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加友情链接功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-07-23</small></p>
        </div>
        <div class="tl-body">
        </div>
	  </div>
    </li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加查看同城会员功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-04-09</small></p>
        </div>
        <div class="tl-body">
        </div>
	  </div>
    </li>

	<li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>用户头像使用七牛云存储加速</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-04-05</small></p>
        </div>
        <div class="tl-body">
		  <p>一开始用户头像适用的 <a href="http://en.gravatar.com/" target="_blank">Gravatar</a> 服务，但是国内访问非常慢，改用七牛存储用户头像。</p>
        </div>
	  </div>
    </li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加浏览所有会员功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-03-27</small></p>
        </div>
        <div class="tl-body">
        </div>
	  </div>
    </li>

	<li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加搜索主题功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-03-21</small></p>
        </div>
        <div class="tl-body">
		  <p>随着主题数量也来越多，想要一页页翻找感兴趣的主题已经变得困难，因此加上了搜索功能，可以根据标题和内容进行搜索。</p>
        </div>
	  </div>
    </li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加查看新加入会员功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-03-19</small></p>
        </div>
        <div class="tl-body">
        </div>
	  </div>
    </li>

	<li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>第三方包增加评论功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-03-13</small></p>
        </div>
        <div class="tl-body">
        </div>
	  </div>
    </li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>静态文件放到七牛云存储，提高访问速度</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-02-20</small></p>
        </div>
        <div class="tl-body">
        </div>
	  </div>
    </li>

	<li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加第三方包板块</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-01-22</small></p>
        </div>
        <div class="tl-body">
          <p>用于提交第三方包的介绍，网址，方便用户查找第三方包。</p>
        </div>
	  </div>
    </li>

    <li><div class="tldate">2012</div></li>

    <li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加文章板块</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2012-12-12</small></p>
        </div>
        <div class="tl-body">
		  <p>用于转载文章。</p>
        </div>
	  </div>
    </li>

    <li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>增加 Go 指南功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2012-09-28</small></p>
        </div>
        <div class="tl-body">
          <p>对<a href="https://go-tour-zh.appspot.com/">https://go-tour-zh.appspot.com/</a>做反向代理，免去翻墙。</p>
        </div>
	  </div>
    </li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>代码移至Github开源</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2012-09-01</small></p>
        </div>
        <div class="tl-body">
		  <p>代码地址<a href="https://github.com/jimmykuu/gopher">https://github.com/jimmykuu/gopher</a> 。</p>
        </div>
	  </div>
	</li>

    <li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>Golang 中国社区启动，社区和酷站功能</h4>
		  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2012-08-29</small></p>
        </div>
        <div class="tl-body">
          <p>网址 golang.tc 。</p>
		</div>
	  </div>
	</li>
  </ul>
</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
