{{define "Title"}}Golang中国时间线{{end}}
{{define "ContentWidth"}}8{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">时间线</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content main">
        <h1 style="text-align: center;">Golang中国社区成长时间线</h1>
        <div class="history">
            <div class="history-date">
                <ul>
				  <h2><a href="#nogo">2014年</a></h2>
					<li>
					  <h3>07.23<span>2014</span></h3>
					  <dl>
						<dt>增加第三方包下载功能
						  <span>可以下载Google Code等不能访问的代码托管网站上的package</span>
						</dt>
					  </dl>
					</li>
                    <h2 class=""><a href="#nogo">2013年</a></h2>
				   <li>
                    <h3>11.06<span>2013</span></h3>
                    <dl>
                        <dt>增加图书板块
                        <span>列出Go语言相关的中英文图书</span>
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>09.03<span>2013</span></h3>
                    <dl>
                        <dt>网站域名由golang.tc换为golangtc.com
                        <span>golang.tc域名悲催地被Godaddy没收，启动新域名，从头再来</span>
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>08.27<span>2013</span></h3>
                    <dl>
                        <dt>修改页面风格为Bootstrap3
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>08.23<span>2013</span></h3>
                    <dl>
                        <dt>增加下载功能
                        <span>由于Go官方下载不稳定，提供Go安装包和源码的本地下载和七牛云存储下载</span>
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>07.23<span>2013</span></h3>
                    <dl>
                        <dt>增加友情链接功能
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>04.09<span>2013</span></h3>
                    <dl>
                        <dt>增加查看同城会员功能
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>04.05<span>2013</span></h3>
                    <dl>
                        <dt>用户头像使用七牛云存储
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>03.27<span>2013</span></h3>
                    <dl>
                        <dt>增加浏览所有会员功能
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>03.21<span>2013</span></h3>
                    <dl>
                        <dt>增加搜索主题功能
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>03.19<span>2013</span></h3>
                    <dl>
                        <dt>增加查看新加入会员功能
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>03.13<span>2013</span></h3>
                    <dl>
                        <dt>第三方包增加评论功能
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>02.20<span>2013</span></h3>
                    <dl>
                        <dt>静态文件放到七牛云存储，提高访问速度
                        <span>感谢<a href="http://www.qiniu.com/">七牛云存储</a>赞助</span>
                        </dt>
                    </dl>
                </li>
                <li>
                    <h3>01.22<span>2013</span></h3>
                    <dl>
                        <dt>增加第三方包板块
                        <span>用于提交第三方包的介绍，网址，方便用户查找第三方包</span>
                        </dt>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="history-date">
            <ul>
                <h2 class="date02"><a href="#nogo">2012年</a></h2>
                    <li>
                        <h3>12.12<span>2012</span></h3>
                        <dl>
                            <dt>增加文章板块
                            <span>用于提交转载或原创文章</span>
	                        </dt>
                        </dl>
                    </li>
                    <li>
                        <h3>09.28<span>2012</span></h3>
                        <dl>
                            <dt>增加Go指南功能
                            <span>对<a href="http://go-tour-zh.appspot.com/">http://go-tour-zh.appspot.com/</a>做反向代理，免去翻墙</span>
	                        </dt>
                        </dl>
                    </li>
                    <li>
                        <h3>09.01<span>2012</span></h3>
                        <dl>
                            <dt>代码移至Github开源
                            <span>代码地址<a href="https://github.com/jimmykuu/gopher">https://github.com/jimmykuu/gopher</a></span>
	                        </dt>
                        </dl>
                    </li>
                    <li>
                        <h3>08.29<span>2012</span></h3>
                        <dl>
                            <dt>Golang中国社区启动，社区和酷站功能
                                <span>网址golang.tc</span>
	                        </dt>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
