{{define "Title"}}{{.title}}主题{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="icon-home"></i> 首页</a></li>
		<li class="active">{{.title}}主题</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content">
		<form action="" method="post" id="topic-form">
			<fieldset>
				{{.form.RenderInput "html"}}
                {{$node := .form.Field "node"}}
                <div class="form-group">
                    {{$node.RenderLabel}}
                    {{$node.RenderInput `class="form-control"`}}
                </div>
                {{$title := .form.Field "title"}}
                <div class="form-group">
                    {{$title.RenderLabel}}
                    {{$title.RenderInput `class="form-control"` `rows="4"`}}
                </div>
				<div class="form-group">
					<div class="wmd-panel">
						<div id="wmd-button-bar"></div>
						<textarea class="wmd-input col-lg-12" id="wmd-input" name="content" rows="20">{{.content}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label>预览</label>
					<div id="wmd-preview" class="wmd-panel wmd-preview">{{.html}}</div>
				</div>
				<input type="submit" class="btn btn-primary" value="{{.title}}">
			</fieldset>
		</form>
	</div>
	<script type="text/javascript" src="http://gopher.qiniudn.com/static/js/Markdown.Converter.js"></script>
	<script type="text/javascript" src="http://gopher.qiniudn.com/static/js/Markdown.Editor.js"></script>
	<script type="text/javascript" src="http://gopher.qiniudn.com/static/js/Markdown.Sanitizer.js"></script>
	<script>
		(function () {
			var converter1 = Markdown.getSanitizingConverter();
			var editor1 = new Markdown.Editor(converter1);
			editor1.run();
		})();

		$('#topic-form').submit(function () {
			$('#html').val($('#wmd-preview').html());

			return true;
		});
	</script>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
