{{define "Title"}}{{.node.Name}}{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">{{.node.Name}}</a></li>
	</ul>
{{end}}
{{define "Content"}}
	{{$utils := .utils}}
	<div class="content">
		<a href="/topic/new" class="btn btn-success">发表话题</a>

		<dl class="topics">
			{{range .topics}}
			<dd>
				<a href="/member/{{.Creater.Username}}" class="pull-left" style="margin-right: 10px;"><img src="{{.Creater.AvatarImgSrc}}-middle"></a>
				{{if .CommentCount}}
					<a class="badge pull-right" href="/t/{{.Id_.Hex}}#.LatestReplyId.Hex">{{.CommentCount}}</a>
				{{end}}
				<a href="/t/{{.Id_.Hex}}" class="title">{{.Title}}</a>
				<div class="space"></div>
				<div class="info" style="margin-left:60px;">
					<a class="label label-info" href="/go/{{.Node.Id}}">{{.Node.Name}}</a> • 
					<a href="/member/{{.Creater.Username}}"><strong>{{.Creater.Username}}</strong></a> • 
					{{if .CommentCount}}
						{{$utils.FormatTime .LatestRepliedAt}} • 最后回复来自 <a href="/member/{{.LatestReplier.Username}}">{{.LatestReplier.Username}}</a>
					{{else}}
						{{$utils.FormatTime .CreatedAt}}
					{{end}}
				</div>
				<div class="clear"></div>
			</dd>
			{{end}}
		</dl>
		<hr>
		{{.pagination.Html .page}}
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}
	<div class="col-lg-3">
		<div class="well sidebar-nav">
			<h4>{{.node.Name}}</h4>
			<hr>
			<p>
				{{.node.Description}}
			</p>
		</div>
	</div>
{{end}}
