{{define "Title"}}{{.article.Title}}{{end}}
{{define "Content"}}
{{$article := .utils.AssertArticle .article}}
<ul class="breadcrumb">
	<li><a href="/"><i class="icon-home"></i> 首页</a> <span class="divider">/</span></li>
	<li><a href="/articles">文章</a></li> <span class="divider">/</span></li>
	<li><a href="#">{{$article.Category.Name}}</a>
</ul>
<div class="content">
	<h1>{{.article.Title}}</h1>
	{{if .username}}
 		{{if $article.CanEdit .username}}
			<a href="/a/{{$article.Id_.Hex}}/edit" class="btn btn-info pull-right"><i class="icon-pencil icon-white"></i> 编辑</a>
		{{end}}
	{{end}}
	<div>感谢 <a href="/member/{{$article.User.Username}}">{{$article.User.Username}}</a> 在 {{.utils.FormatTime $article.CreatedAt }} 投递 {{.article.Hits}} 次点击</div>
	<h2><small>本文转载自: <a href="{{.article.OriginalUrl}}" target="_blank">{{.article.OriginalSource}}</a></small></h2>
	<hr>
	<div class="article">
		{{.article.Html}}
	</div>
	<div class="alert alert-block">
		<p>本文转载自: <a href="{{.article.OriginalUrl}}" target="_blank">{{.article.OriginalSource}}</a></p>
		<p>(本站只作转载,不代表本站同意文中观点或证实文中信息)</p>
	</div>
</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}
{{$article := .utils.AssertArticle .article}}
<div class="span3">
	<div class="well sidebar-nav">
		
	</div>
</div>
{{end}}