{{ template "base.html" .}}
{{ define "body" }}
<div class="ui segment">
  <h1 class="ui dividing header">Go 下载</h1>
  <div class="ui info message">
    <ul class="list">
      <li>如果下载速度比较慢，可以用下载工具；</li>
      <li>新增了百度云盘下载：<a href="http://pan.baidu.com/s/1pL0Ca4V">http://pan.baidu.com/s/1pL0Ca4V</a>。</li>
    </ul>
  </div>
  <div class="ui styled fluid accordion">
    {{range $index, $version := .versions}}
      <div class="title{{ if eq $index 0 }} active{{ end }}">
        <i class="dropdown icon"></i>
        {{ $version.Name }}
      </div>
      <div class="content{{ if eq $index 0 }} active{{ end }}">
        <table class="ui selectable striped compact table">
        <thead>
          <tr>
            <th>Filename</th>
			      <th>Size</th>
			      <th class="right aligned">Download</th>
          </tr>
        </thead>
        <tbody>
          {{ range $version.Files }}
			      <tr>
				      <td>{{ .Filename }}</td>
				      <td>{{ .HumanSize }}</td>
				      <td class="right aligned"><a href="/static/go/{{ $version.Name }}/{{ .Filename }}" class="ui blue label">本地下载</a></td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  {{ end }}
</div>
  
<script type="text/javascript">
  $(document).ready(function () {
    $('.ui.accordion').accordion();
  });
</script>
{{end}}